[submodule "zsh_custom/plugins/fzf-z"]
	path = zsh_custom/plugins/fzf-z
	url = https://github.com/andrewferrier/fzf-z
[submodule "zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "3rdparty/hub"]
	path = 3rdparty/hub
	url = https://github.com/github/hub
[submodule "3rdparty/conda-zsh-completion"]
	path = 3rdparty/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
